    {{#each comments}}
    <li class="comment">
            <div class="left">
                <img src="./IMG/usuario.jpeg" class="avatar_img">
            </div>
            <div class="center">
                <div class="top">
                    <p class="name elem__text"> {{name}} </p>
                       <p class="date elem__text"> {{date.weekDay}}.{{date.month}}.{{date.year}} {{date.hour}}:{{date.minutes}}</p>    
                </div>
                <div class="bottom">
                    <p class="comment elem__text">
                        {{comment}}
                    </p>
                </div>
            </div>
            <div class="right">
                    <img src="./IMG/remove.png" class="remove__button-img" id = {{remove}}> 
            </div>
        </li>
        <hr size='1px' color='#aaa'>
    {{/each}}